# --- PYTHON (Backend & ML) ---
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/

# --- NODE.JS (Frontend) ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
dist-ssr/

data/raw/
data/processed/

# --- CONFIG & SECRETS ---
.env
.env.local
.env.*.local

# --- IDE & OS (Мусор от редактора) ---
.idea/
.DS_Store
Thumbs.db
*.swp

# --- DATABASES (Docker Volumes) ---
qdrant_storage/
postgres_data/