version: "3"
services:
  backend:
    image: anireco-back
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - qdrant
    env_file:
      - .env
    volumes:
      - ./data:/app/data
  frontend:
    image: anireco-front
    build: ./frontend
    ports:
      - "3000:80"
  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db-data:/var/lib/postgresql/data
    env_file:
      - .env
  qdrant:
    image: qdrant/qdrant
    container_name: anireco_qdrant
    ports:
      - "6333:6333"
    environment:
      COLLECTION_NAME: ${COLLECTION_NAME}
    volumes:
      - ./qdrant_storage:/qdrant/storage
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:6333" ]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - .env
volumes:
  db-data:
