pandas
numpy
transformers
orjson
requests
huggingface_hub
tqdm
pyarrow
fastparquet
fastapi
uvicorn[standard]
pydantic
python-dotenv
sqlalchemy
pydantic_settings
asyncpg
qdrant_client
typing
torch
torchvision
torchaudio
sentence-transformers